{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="upload-form">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    {% for field in form %}
      <div class="form-wrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      </div>
    {% endfor %}
    <button type="submit">Upload</button>
  </form>
  </div>
  <h4><a href="{% url 'homepage' %}">Return to home</a></h4>
</div>
{% endblock %}
