{% extends 'base.html' %}

{% block content %}

<body>
<div class="container-fluid">
<div class="description">
    <h2>Upload Successful!</h2>
    <h2>file-type : {{file_type}}</h2>
    <h2>filename : {{file.description}}</h2>
</div>
<div class="btn-holder"><a href="{% url 'homepage' %}"><button class="btn btn-primary">Upload More Answer sheets</button></a>
</div>
    <div class="report">
        <h3>Use one of the method to Generate Report</h3>
        <button class="btn btn-primary" id="report-btn-1">Word Net</button>
        <a href="{% url 'word2vec' %}"><button class="btn btn-primary" id="report-btn-2">Word 2 Vec</button></a>
    </div>
<div class="result-holder">
    <h2 id="result-score"></h2>
    <h2 id="result-answer"></h2>
    <h2 id="actual-result"></h2>
</div>
</div>

<script type="text/javascript">
    $('#report-btn-1').click(function(){
    $.ajax(
    {
        type:"GET",
        url: "/word_net",
        success: function( data )
        {
            console.log(data.result)
            var result = JSON.stringify(data.result);
            result = result.replace('[', '');
            result = result.replace(']', '');
            var new_result = result.split(",");
            var first = "You've got " + new_result[0] + " out of 1";
            document.getElementById("result-score").innerHTML = first;
            var second = "Your answer : " + new_result[1];
            document.getElementById("result-answer").innerHTML = second;
            var third = "The expected answer : " + new_result[2];
            document.getElementById("actual-result").innerHTML = third;
        }
     })
});
</script>

</body>

{% endblock %}
